
{% set server = salt['grains.filter_by']({
    'default': {
        'expirer': {
          'cron': {
            'minute': 0
          },
        },
    },
    'Debian': {
        'pkgs': ['aodh-api', 'aodh-evaluator', 'aodh-notifier', 'aodh-listener', 'python-aodhclient'],
        'services': ['aodh-evaluator', 'aodh-notifier', 'aodh-listener'],
        'cacert_file': '/etc/ssl/certs/ca-certificates.crt',
        'webserved': ['aodh-api'],
        'notification': {
          'topics': 'notifications'
        },
        'oslo_policy': {
          'policy_file': '/etc/aodh/policy.json'
        },
        'logging': {
          'app_name': 'aodh',
          'log_appender': false,
          'log_handlers': {
            'watchedfile': {
              'enabled': true
            },
          }
        },
    },
    'RedHat': {
        'pkgs':['openstack-aodh-api', 'openstack-aodh-evaluator', 'openstack-aodh-notifier', 'openstack-aodh-listener', 'python-aodhclient'],
        'services': ['openstack-aodh-evaluator', 'openstack-aodh-notifier', 'openstack-aodh-listener'],
        'cacert_file': '/etc/pki/tls/certs/ca-bundle.crt',
        'webserved': ['openstack-aodh-api'],
        'notification': {
          'topics': 'notifications'
        },
        'oslo_policy': {
          'policy_file': '/etc/aodh/policy.json'
        },
        'logging': {
          'app_name': 'aodh',
          'log_appender': false,
          'log_handlers': {
            'watchedfile': {
              'enabled': true
            },
          }
        },
    },
}, merge=salt['pillar.get']('aodh:server'), base='default') %}

{%- if salt['pillar.get']('aodh:server:version', 'mitaka') in ['mitaka'] %}
    {%- do server.update({'services': server.services + server.webserved}) %}
{%- endif %}

{%- load_yaml as client_defaults %}

Debian:
  enabled: false
  pkgs:
    - python-aodhclient
{%- endload %}

{%- set client = salt['grains.filter_by'](client_defaults, merge=salt['pillar.get']('aodh:client')) %}
{%- set upgrade = pillar.get('aodh', {}).get('upgrade', {}) %}

