
{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': ['aodh-api', 'aodh-evaluator', 'aodh-notifier', 'aodh-listener', 'python-aodhclient'],
        'services': ['aodh-api', 'aodh-evaluator', 'aodh-notifier', 'aodh-listener'],
    },
    'RedHat': {
        'pkgs':['openstack-aodh-api', 'openstack-aodh-evaluator', 'openstack-aodh-notifier', 'openstack-aodh-listener', 'python-aodhclient'],
        'services': ['openstack-aodh-api', 'openstack-aodh-evaluator', 'openstack-aodh-notifier', 'openstack-aodh-listener'],
    },
}, merge=salt['pillar.get']('aodh:server')) %}
